body {
    background-color: wheat;
    margin-inline: 200px;
}

.corpo1 :hover {
    background-color: yellow;
    
}
.corpo2 :hover {
    background-color: yellow;
    
}

.corpo3 :hover {
    background-color: yellow;
    
}